/* this is called a reset
   wildcard means apply to all the things

*{
    margin: 0;
    padding: 0;
}
*/

.clr {
    clear: both;
}

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* same as above */
    /* font: bold 20px Arial, Helvetica, sans-serif; */

    line-height: 1.6em;
}


.button {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color: white;
    
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color:red
}

a:active{
    color: green;
}

a:visited{
    color: yellowgreen;
}

.container{
    width: 80%;
    margin: auto;
    margin-bottom: 500px;
}

.box-1{
    background-color: #333333;
    color: white;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-top-style: dotted;

    padding: 20px;
    margin: 20px;

    /* same as above 
    border: 5px red solid;
    */


}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #cccccc;
    padding-top: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 10;
    list-style: square;
}

.categories ul{
    padding-bottom: 6px;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333333;
    list-style-image: url('../images/check.png');
    list-
}


.my-form .form-group{
    padding-bottom: 15px;
}

.my-form {
    padding: 20px;
}

.my-form label{
    display: block;
}

.my-form input[type=text], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url("../images/bgimage.jpg");
    background-repeat: no-repeat;
}

.p-box h1{
    position: absolute;
    top: 40px
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px
}

.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background: green;
}

.my-list li:nth-child(even){
    background: orange;
}





